/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Verdana', sans-serif;
}
.clearfix::after{
    content: '';
    /* without display:block; -> clear: both doesn't work*/
    display: block;
    clear: both;
}
/* HEADER */
header{
    background-color: #f7d794;
    div{
        width: 20%;
        height: 200px;
        margin: 2.5%;
        /* horizontal arrangement of elements */
        float: left;
        /* horizontal arrangement of elements with margins
        (without margins -> father of the elem must have font-size:0;) */
        /* display: inline-block;  */
        margin-bottom: 10px;
        &:nth-child(1){
            background-color: #786fa6;
            &:hover{
                background-color: #574b90;
            }
        }
        &:nth-child(2){
            background-color: #f8a5c2;
            &:hover{
                background-color: #f78fb3;
            }
        }
        &:nth-child(3){
            background-color: #63cdda;
            &:hover{
                background-color: #3dc1d3;
            }
        }
        &:nth-child(4){
            background-color: #ea8685;
            &:hover{
                background-color: #e66767;
            }
        }
    }
}
/* NAVBAR */
nav{
    padding: 10px 0 10px 50px;
    background: #f3a683;
    ul{
        list-style-type: none;
        li{
            float: right;
            width: 20%;
            margin-right: 10px;
            border: 1px solid #e15f41;
            border-radius: 5px;
            &:hover{
            background-color: #f19066;
            }
        }
    }
}
nav ul li a {
    /* to width of father(ul) use display block */
    display: block;
    text-align: center;
    color:#e15f41;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
}