/* GLOBAL */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
html{
    font-family: 'Verdana', sans-serif;
}
.clearfix::after{
    content: '';
    /* without display:block; -> clear: both doesn't work*/
    display: block;
    clear: both;
}
/* HEADER */
header div{
    width: 20%;
    height: 200px;
    background-color: royalblue;
    /* horizontal arrangement of elements */
    float: left;
    /* horizontal arrangement of elements with margins
    (without margins -> father of the elem must have font-size:0;) */
    /* display: inline-block;  */
    margin-bottom: 10px;
}
nav{
    height: 50px;
    background-color: black;
}